@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #7c1212;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  width: 200px;
  height: 18%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar h2 img {
  width: 115px;
  height: 55%;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 15px;
}

.wrapper .sidebar ul li a {
  color: #fff;
  display: block;
}

.wrapper .sidebar img {
  width: 25px;
  margin-right: 15px;
}

.wrapper .sidebar ul li a .religi img {
  padding: 4px;
}

.menu img {
  margin-bottom: -7px;
}

.wrapper .sidebar ul li:hover {
  background-color: #530a0a;
}

.wrapper .sidebar ul li:hover a {
  color: #fff;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header1 {
  padding: 15px;
  text-align: right;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wrapper .main_content .header1 .admin {
  padding: 15px;
  text-align: right;
}

.wrapper .main_content .header1 .judul {
  margin-left: 30px;
  float: left;
  margin-top: 7px;
  font-size: 20px;
}

button {
  background-color: #7c1212;
  color: white;
  border-radius: 7px;
  border: 100px;
  padding: 7px 9px 7px 9px;
  margin-left: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

input {
  background-color: #7c1212;
  color: white;
  border-radius: 7px;
  border: 100px;
  padding: 7px 9px 7px 9px;
  margin-left: 40px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.wrapper .main_content .addbutton {
  margin-top: 40px;
  margin-left: 40px;
  cursor: pointer;
  background-color: green;
  border-radius: 3px;
  border: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
/*table css nya*/
.content-table {
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 0.9em;
  min-width: 500px;
  width: 95%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.content-table thead th {
  background-color: #7c1212;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  padding: 20px 30px;
}

.content-table tr,
.content-table td {
  padding: 5px 30px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.editbutton {
  background-color: #127c32;
  color: white;
  border-radius: 7px;
  border: 100px;
  padding: 9px 9px 9px 9px;
  margin-left: 1px;
  cursor: pointer;
}

.hapusbutton {
  background-color: #c41010;
  color: white;
  border-radius: 7px;
  border: 100px;
  padding: 9px 9px 9px 9px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
}
